<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 	<display-name>WorkDrive</display-name>
 	<filter>
 		<description>
 		</description>
 		<display-name>CorsFilter</display-name>
 		<filter-name>CorsFilter</filter-name>
 		<filter-class>filter.CorsFilter</filter-class>
 	</filter>
 	<filter-mapping>
 		<filter-name>CorsFilter</filter-name>
 		<url-pattern>/*</url-pattern>
 	</filter-mapping> 
 	<filter>
 		<description>
 		</description>
 		<display-name>SessionCheckFilter</display-name>
 		<filter-name>SessionCheckFilter</filter-name>
 		<filter-class>filter.SessionCheckFilter</filter-class>
 	</filter>
 	<filter>
 		<description>
 		</description>
 		<display-name>DuplicateFileCheck</display-name>
 		<filter-name>DuplicateFileCheck</filter-name>
 		<filter-class>filter.DuplicateFileCheck</filter-class>
 	</filter>
 	<filter-mapping>
 		<filter-name>SessionCheckFilter</filter-name>
 		<url-pattern>/SessionCheckFilter</url-pattern>
 	</filter-mapping>
 	<filter-mapping>
 		<filter-name>DuplicateFileCheck</filter-name>
 		<url-pattern>/creation/*</url-pattern>
 	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>servlets.SignupServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionCheck</display-name>
		<servlet-name>SessionCheck</servlet-name>
		<servlet-class>servlets.SessionCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FolderServlet</display-name>
		<servlet-name>FolderServlet</servlet-name>
		<servlet-class>servlets.FolderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FolderAddServlet</display-name>
		<servlet-name>FolderAddServlet</servlet-name>
		<servlet-class>servlets.FolderAddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FolderDeleteServlet</display-name>
		<servlet-name>FolderDeleteServlet</servlet-name>
		<servlet-class>servlets.FolderDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FolderGetServlet</display-name>
		<servlet-name>FolderGetServlet</servlet-name>
		<servlet-class>servlets.FolderGetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FolderUpdateServlet</display-name>
		<servlet-name>FolderUpdateServlet</servlet-name>
		<servlet-class>servlets.FolderUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateFileServlet</display-name>
		<servlet-name>CreateFileServlet</servlet-name>
		<servlet-class>servlets.CreateFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteFileServlet</display-name>
		<servlet-name>DeleteFileServlet</servlet-name>
		<servlet-class>servlets.DeleteFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadFileServlet</display-name>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>servlets.UploadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadFileServlet</display-name>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>servlets.DownloadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MoveResourceServlet</display-name>
		<servlet-name>MoveResourceServlet</servlet-name>
		<servlet-class>servlets.MoveResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowFiles</display-name>
		<servlet-name>ShowFiles</servlet-name>
		<servlet-class>servlets.ShowFiles</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateFileName</display-name>
		<servlet-name>UpdateFileName</servlet-name>
		<servlet-class>servlets.UpdateFileName</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResourceRenderServlet</display-name>
		<servlet-name>ResourceRenderServlet</servlet-name>
		<servlet-class>servlets.ResourceRenderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CopyResourceServlet</display-name>
		<servlet-name>CopyResourceServlet</servlet-name>
		<servlet-class>servlets.CopyResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceRenderServlet</servlet-name>
		<url-pattern>/ResourceRenderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionCheck</servlet-name>
		<url-pattern>/SessionCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderServlet</servlet-name>
		<url-pattern>/FolderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderAddServlet</servlet-name>
		<url-pattern>/FolderAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderDeleteServlet</servlet-name>
		<url-pattern>/FolderDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderGetServlet</servlet-name>
		<url-pattern>/FolderGetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderUpdateServlet</servlet-name>
		<url-pattern>/FolderUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateFileServlet</servlet-name>
		<url-pattern>/creation/CreateFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFileServlet</servlet-name>
		<url-pattern>/DeleteFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/creation/UploadFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadFileServlet</servlet-name>
		<url-pattern>/DownloadFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MoveResourceServlet</servlet-name>
		<url-pattern>/MoveResourceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowFiles</servlet-name>
		<url-pattern>/ShowFiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateFileName</servlet-name>
		<url-pattern>/UpdateFileName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CopyResourceServlet</servlet-name>
		<url-pattern>/CopyResourceServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
