<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>WorkDrive</display-name>

	<!-- Filters -->
	<filter>
		<display-name>CorsFilter</display-name>
		<filter-name>CorsFilter</filter-name>
		<filter-class>filter.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>SessionCheckFilter</display-name>
		<filter-name>SessionCheckFilter</filter-name>
		<filter-class>filter.SessionCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionCheckFilter</filter-name>
		<url-pattern>/SessionCheckFilter</url-pattern>
	</filter-mapping>

    <filter>
        <display-name>DuplicateFileCheck</display-name>
        <filter-name>DuplicateFileCheck</filter-name>
        <filter-class>filter.DuplicateFileCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DuplicateFileCheck</filter-name>
        <url-pattern>/creation/*</url-pattern>
    </filter-mapping>
    
     <filter>
        <display-name>CheckExsistFile</display-name>
        <filter-name>CheckExsistFile</filter-name>
        <filter-class>filter.CheckExsistFile</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckExsistFile</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>servlets.SignupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RenderUserMail</servlet-name>
		<servlet-class>servlets.RenderUserMail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SessionCheck</servlet-name>
		<servlet-class>servlets.SessionCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateFileServlet</servlet-name>
		<servlet-class>servlets.CreateFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFileServlet</servlet-name>
		<servlet-class>servlets.DeleteFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>servlets.UploadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadFileServlet</servlet-name>
		<servlet-class>servlets.DownloadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MoveResourceServlet</servlet-name>
		<servlet-class>servlets.MoveResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowFiles</servlet-name>
		<servlet-class>servlets.ShowFiles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateFileName</servlet-name>
		<servlet-class>servlets.UpdateFileName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResourceRenderServlet</servlet-name>
		<servlet-class>servlets.ResourceRenderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CopyResourceServlet</servlet-name>
		<servlet-class>servlets.CopyResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FolderServlet</servlet-name>
		<servlet-class>servlets.FolderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserNameServlet</servlet-name>
		<servlet-class>servlets.GetUserNameServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>CopyFileServlet</display-name>
		<servlet-name>CopyFileServlet</servlet-name>
		<servlet-class>servlets.CopyFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>MoveFileServlet</display-name>
		<servlet-name>MoveFileServlet</servlet-name>
		<servlet-class>servlets.MoveFileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FolderUploadServlet</display-name>
		<servlet-name>FolderUploadServlet</servlet-name>
		<servlet-class>servlets.FolderUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowFileVersions</display-name>
		<servlet-name>ShowFileVersions</servlet-name>
		<servlet-class>servlets.ShowFileVersions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowDashBoard</display-name>
		<servlet-name>ShowDashBoard</servlet-name>
		<servlet-class>servlets.ShowDashBoard</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileEditServlet</display-name>
		<servlet-name>ProfileEditServlet</servlet-name>
		<servlet-class>servlets.ProfileEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowTrash</display-name>
		<servlet-name>ShowTrash</servlet-name>
		<servlet-class>servlets.ShowTrash</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TrashFile</display-name>
		<servlet-name>TrashFile</servlet-name>
		<servlet-class>servlets.TrashFile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RestoreServlet</display-name>
		<servlet-name>RestoreServlet</servlet-name>
		<servlet-class>servlets.RestoreServlet</servlet-class>
	</servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderUserMail</servlet-name>
        <url-pattern>/RenderUserMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCheck</servlet-name>
        <url-pattern>/SessionCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFileServlet</servlet-name>
        <url-pattern>/creation/CreateFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/DeleteFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/secure/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveResourceServlet</servlet-name>
        <url-pattern>/MoveResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFiles</servlet-name>
        <url-pattern>/ShowFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFileName</servlet-name>
        <url-pattern>/UpdateFileName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceRenderServlet</servlet-name>
        <url-pattern>/ResourceRenderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CopyResourceServlet</servlet-name>
        <url-pattern>/CopyResourceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FolderServlet</servlet-name>
        <url-pattern>/FolderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserNameServlet</servlet-name>
        <url-pattern>/GetUserNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CopyFileServlet</servlet-name>
    	<url-pattern>/CopyFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MoveFileServlet</servlet-name>
    	<url-pattern>/MoveFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FolderUploadServlet</servlet-name>
    	<url-pattern>/FolderUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowFileVersions</servlet-name>
    	<url-pattern>/ShowFileVersions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowDashBoard</servlet-name>
    	<url-pattern>/ShowDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ProfileEditServlet</servlet-name>
    	<url-pattern>/ProfileEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
    	<url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShowTrash</servlet-name>
    	<url-pattern>/ShowTrash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TrashFile</servlet-name>
    	<url-pattern>/TrashFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RestoreServlet</servlet-name>
    	<url-pattern>/RestoreServlet</url-pattern>
    </servlet-mapping>

	<!-- Welcome Files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>
